[submodule "libft"]
	path = libft
	url = https://github.com/Haradric/libft.git
[submodule "fillit"]
	path = fillit
	url = https://github.com/Haradric/fillit.git
[submodule "get_next_line"]
	path = get_next_line
	url = https://github.com/Haradric/get_next_line.git
[submodule "ft_printf"]
	path = ft_printf
	url = https://github.com/Haradric/ft_printf.git
