[submodule "libft"]
	path = libft
	url = https://github.com/Haradric/libft.git
[submodule "fillit"]
	path = fillit
	url = https://github.com/Haradric/fillit.git
[submodule "get_next_line"]
	path = get_next_line
	url = https://github.com/Haradric/get_next_line.git
[submodule "ft_printf"]
	path = ft_printf
	url = https://github.com/Haradric/ft_printf.git
[submodule "ft_ls"]
	path = ft_ls
	url = https://github.com/Haradric/ft_ls.git
[submodule "minishell"]
	path = minishell
	url = https://github.com/Haradric/minishell.git
[submodule "21sh"]
	path = 21sh
	url = https://github.com/Haradric/21sh.git
[submodule "42sh"]
	path = 42sh
	url = https://github.com/Haradric/42sh.git
[submodule "ft_select"]
	path = ft_select
	url = https://github.com/Haradric/ft_select.git
[submodule "pool_cpp"]
	path = pool_cpp
	url = https://github.com/Haradric/pool_cpp.git
[submodule "ft_malloc"]
	path = ft_malloc
	url = https://github.com/Haradric/ft_malloc.git
[submodule "ft_nm-otool"]
	path = ft_nm-otool
	url = https://github.com/Haradric/ft_nm-otool.git
[submodule "N-puzzle"]
	path = N-puzzle
	url = https://github.com/Haradric/N-puzzle.git
[submodule "LibftASM"]
	path = LibftASM
	url = https://github.com/Haradric/LibftASM.git
